h1 Children International
.content 
	.story.story-left
		img src="http://placekitten.com/g/63/63"
		p 
			h3 You have 
			= @tweets_all.length

	.story.story-right
		p 
			| Keffiyeh PBR&B sustainable quinoa. XOXO gentrify heirloom beard, Truffaut umami biodiesel chillwave. Aesthetic XOXO salvia 
			| bitters, cold-pressed food truck craft beer slow-carb plaid retro tofu swag biodiesel direct trade banjo. Craft beer mlkshk 
			| food truck XOXO, bespoke biodiesel wayfarers mixtape Truffaut single-origin coffee shabby chic cornhole cronut. Sustainable 
			| brunch Shoreditch master cleanse. Etsy lo-fi Banksy, street art beard bespoke dreamcatcher Schlitz Echo Park put a bird on 
			| it. Food truck single-origin coffee kitsch pork belly VHS.

		img src="http://placekitten.com/g/63/63"